<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>

<body>
    <header>
        <div>
            <a href="{{ url_for('signup') }}">Sign Up</a>
            <a href="/signin">Sign In</a>
            <a href="{{ url_for('add_post') }}">Add Post</a>
            <a href="{{ url_for('profile') }}">Profile</a>
        </div>
    </header>

    <input type="text" placeholder="Найти что-то интересное" id="search_value">
    <button id="search_btn">Найти</button>

    <ul id="posts">
        {% for post in posts %}
            <li>
                <h2>{{ post[1] }}</h2>
                <p>{{ post[2] }}</p>
                {% if is_admin %}
                    <a href="/delete?post_id={{post[0]}}">Удалить</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <script src="/static/js/search.js"></script>
</body>

</html>