<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<body>
    <div class="header">
        <h1>Главная</h1>
        <div>
            <a href="{{ url_for('register') }}">Регистрация</a>
            <a href="{{ url_for('login') }}">Вход</a>
        </div>
    </div>

    <div class="search">
        <input id="inputSearch" type="text">
        <button id="butSearch">Поиск</button>
    </div>

    <ul id="postBlock">
        {% for post in posts %}
            <li>
                <h3>{{ post[1] }}</h3>
                <p>{{ post[2] }}</p>
                {%if is_admin%}
                    <button>Удалить пост</button>
                {%endif%}
                
            </li>
        {% endfor %}
    </ul>
    <script src="/static/JS/main.js"></script>
</body>
</html>