<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<body>
    <div class="header">
        <h1>Главная</h1>
        <div>
            {% if username %}
                <h4>{{ username }}</h4>
                <a href="/add_post">Новый пост</a>
                <a href="/logout">Выход</a>
            {% else %}
                <a href="/register">Регистрация</a>
                <a href="/login">Вход</a>
            {% endif %}
        </div>
    </div>


    <ul>

        {% for profile in profiles %}
            <li>
                <a href="/profile/{{profile.owner.id}}">{{ profile.name }}</a>
            </li>
        {% endfor %}

    </ul>

    <form action="/search">
        <input type="text" name="q" placeholder="Найти что-то">
        <button type=submit>Поиск</button>
    </form>

    <ul id="posts_list">

        {% for post in posts %}
            <li>
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                <a href="/post/{{post.id}}">Подробнее</a>
                {% if isadmin %}
                    <a href="/admin/post/edit/{{post.id}}">Изменить</a>
                {% endif %}
            </li>
        {% endfor %}

    </ul>
    
</body>
</html>
