* {
  padding: 0;
  margin: 0;
}
.container {
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgb(231, 76, 60);
  flex-basis: 10vh;
}
main {
  flex: 1 1 auto;
  display: flex;
}
aside {
  background-color: rgb(64, 224, 208);
  flex-basis: 20%;
}
section {
  background-color: rgb(243, 156, 18);
  flex: 1 1 auto;
}
section+aside {
  background-color: rgb(41, 128, 185);
  flex-basis: 20%;
}
footer {
  background-color: rgb(197, 17, 98);
  flex-basis: 10vh;
}


@media (max-width: 1200px) { 
  #dop {
    display: none;
  }
}

@media (max-width: 768px) { 
  main {
    flex-direction: column;
  }
  main aside {
    flex-grow: 1;
  }
  main section {
    flex-grow: 4;
  }
}

@media (max-width: 480px) {
  main aside {
    display: none;
  }
}