* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(55, 55, 79);
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > li {
  margin: 1em;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}

.submenu {
  opacity: 0;
  height: 0;
  min-width: fit-content;
  list-style: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgb(55, 55, 79);
  transition: 1s ease-in-out;
}

.submenu > li {
  margin-bottom: 0.5em;
}

.menu > li:hover {
  .submenu {
    opacity: 1;
    height: fit-content;
    padding: 1em;
  }
}

@media (max-width: 650px) {
  .menu {
    flex-direction: column;
    align-items: start;
  }

  .submenu {
    position:static;
  }
  .menu > li:hover {
    .submenu {
      opacity: 1;
      height: fit-content;
      padding: 1em;
    }
  }
  
}