<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <button>Привет</button>
    {% if not user.is_authenticated %}
        <form action="login/" method="post">
            {% csrf_token %}
            <input type="text" name="loginlogin" placeholder="Логин">
            <input type="password" name="password" placeholder="Пароль">
            <input type="submit">
        </form>

        <form action="register/"  method="post">
            {% csrf_token %}
            <input type="text" name="loginlogin" placeholder="Логин">
            <input type="password" name="password" placeholder="Пароль">
            <input type="submit">
        </form>
    {% else %}
        <a href="/logout">Выйти</a>
        <div>
            <h1>Задачи</h1>
            {% if tasks %}
            <div>
                {{tasks}}
            </div>
            {% endif %}
        </div>
    {% endif %}
</body>
</html>