<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор чаевых</title>
</head>
<body>
<form action="/converter/">
    <input type="number" placeholder="Сумма для перевода" name="summ">
    <select name="currency" placeholder="Валюта">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="UZS">UZS</option>
        <option value="GBP">GBP</option>
    </select>
    <button type="submit">Сконвертировать</button>
</form>
<p>Сумма после перевода: {{ data.summ }}</p>
</body>
</html>
