html, body {
    background-color: rgb(60, 2, 70);
    color: white;
    height: 100%;
    font-size: 20px;
}

.container {
    width: 80vw;
    margin: 0 auto;
    background-color: lightgray;
    padding: 20px;
}