html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_menu a {
    text-decoration: none;
}

ul {
    display: flex;
}

.nav_menu img {
    max-width: 100px;
}

.nav_menu li {
    margin-right: 20px;
}
