<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>

<body>

    <h3>Sign Up</h3>

    <form method="post">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" placeholder="Name">

        <label for="email">Email:</label>
        <input id="email" name="email" type="email" placeholder="Email">

        <label for="password"></label>
        <input id="password" name="password" type="password" placeholder="Password">

        <button type="submit">SignUp</button>
    </form>

</body>

</html>