<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <div>
            <label for="title">Title: </label>
            <input type="text" id="title" name="title" value="{{ old_title }}">
        </div>
        <div>
            <label for="content">Content: </label>
            <textarea name="content" id="content">{{ old_content }}</textarea>
        </div>
        <div>
            <button type="submit">Изменить</button>
        </div>
    </form>
</body>
</html>