<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
    <img onclick="window.location.href = '/'" src="/static/img/logo.png" alt="">
    <nav>
        <div class="nav-item"><a href="#search">Поиск</a></div>
        <div class="nav-item"><a href="#tours">Рекомендации</a></div>
        <div class="nav-item"><a href="#contacts">Контакты</a></div>
    </nav>
</header>
<div class="header-bg"></div>
<div class="header-fake"></div>
<main>
    <form class="search-group" target="_blank" method="GET" action="/" id="search">
        <input class="input-keywords" name="keyword" type="text" placeholder="Ключевые слова" required>
        <input class="input-min-price" type="number" name="minprice" placeholder="Стоимость от" required>
        <input class="input-max-price" type="number" name="maxprice" placeholder="Стоимость до" required>
        <button type="submit">Найти</button>
    </form>
    <div class="search-suggestions">
        <div class="search-suggestion">Турция</div>
        <div class="search-suggestion">Все включено</div>
        <div class="search-suggestion">Египет</div>
        <div class="search-suggestion">Семейный</div>
        <div class="search-suggestion">Активный отдых</div>
    </div>
    <h1 id="tours">Категории</h1>
    <div class="categories">
        <a href="/?category=море">
            <div class="category">
                <img src="/static/img/icon-sea.png" alt="">
                Море
            </div>
        </a>
        <a href="/?category=горы">
            <div class="category">
                <img src="/static/img/icon-mountains.png" alt="">
                Горы
            </div>
        </a>
        <a href="/?category=сафари">
            <div class="category">
                <img src="/static/img/icon-safari.png" alt="">
                Сафари
            </div>
        </a>
        <a href="/?category=активный отдых">
            <div class="category">
                <img src="/static/img/icon-active.png" alt="">
                Активный отдых
            </div>
        </a>
        <a href="/?category=позагорать">
            <div class="category">
                <img src="/static/img/icon-sun.png" alt="">
                Позагорать
            </div>
        </a>
    </div>
    {% if data.tours|length > 0 %}
        <h1>{{data.tour_heading}}</h1>
        <div class="tours">
            
                {% for tour in data.tours %}
                <div class="tour">
                    <img src="/static/img/tour{{tour[0]}}/main.webp" alt="">
                    <div class="tour-overlay"></div>
                    <p>{{ tour[1] }}</p>
                </div>
                {% endfor %}
                
        </div>
    {% else %}
        <h1>Не найдено</h1>
    {% endif %}
</main>
<footer id="contacts">
    <img src="/static/img/logo.png" alt="">
    <p>Designed at <a href="https://easycode.tech" target="_blank">EasyCode <img src="/static/img/link.png" alt=""></a></p>
    <div class="contacts">
        <p>77777777777</p>
        <p>skdjnjv@kfejnv.dfvkjn</p>
    </div>
</footer>
<script>
let searches = document.querySelectorAll('.search-suggestion')
let search_field = document.querySelector('.input-keywords')
searches.forEach((e) => {
    e.addEventListener('click', function() {
        search_field.value = e.innerHTML
    })
})
</script>
</main>
</body>
</html>