<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{ data.tour }}

    <h3>{{ data.tour[1] }}</h3>

    <button id="like">Лайк</button>

    <div>
        <h1>История</h1>
        <ul>
            {% for tour in data.history %}
                <li>
                    {{tour}}
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        const like_btn = document.getElementById('like')
        like_btn.addEventListener('click', () => {
            fetch('/tour/{{ data.tour[0] }}', {
                method: 'POST'
            })
        })
    </script>
</body>
</html>