<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<body>
    <div class="header">
        <h1>Главная</h1>
        <div>
            {% if not username %}
                <a href="{{ url_for('register') }}">Регистрация</a>
                <a href="{{ url_for('login') }}">Вход</a>
            {% else %}
                <p>{{username}}</p>
                <a href="{{ url_for('logout') }}">Выход</a>
                <a href="{{ url_for('post') }}">Новый пост</a>
            {% endif %}
        </div>
    </div>

    <ul>
        {% for user in all_users %}
            <li>
                <a href="/user/{{ user[0] }}" >{{ user[1] }}</a>
            </li>
        {% endfor %}
    </ul>

    <form action="/search_post">
        <input type="text" name="search_text" placeholder="Найти что нибудь">
        <button type="submit">Найти</button>
    </form>

    <ul id="posts_list">
        {% for post in all_posts %}
            <li>
                <h2>{{ post[1] }}</h2>
                <p>{{ post[2] }}</p>
            </li>
        {% endfor %}
    </ul>

    {% if total_pages > 1 %}
        <button page="{{ page_num+1 }}" onclick="load_new(this)">Загрузить еще</button>
        <div>
            {% if page_num > 1 %}
                <a href="/?page_num={{page_num-1}}">Предыдущая</a>
            {% endif %}
                <p>Страница: {{ page_num }} из {{ total_pages }}</p>
            {% if page_num < total_pages %}
                <a href="/?page_num={{page_num+1}}">Следующая</a>
            {% endif %}
        </div>
    {% endif %}

    <script>
        const posts_list = document.getElementById('posts_list')

        function load_new(el) {
            page = el.getAttribute('page')
            fetch(`/api/posts?page_num=${page}`)
            .then(result => {
                return result.json()
            })
            .then(data => {
                data.forEach(post => {
                    const postElement = document.createElement('li')
                    postElement.innerHTML = `
                        <h2>${post.title}</h2>
                        <p>${post.content}</p>`
                    posts_list.appendChild(postElement)
                })
                el.setAttribute('page', parseInt(page)+1)
            })
        }
    </script>

</body>
</html>
