<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<body>
    <div class="header">
        <h1>Главная</h1>
        <div>
            {% if not username %}
                <a href="{{ url_for('register') }}">Регистрация</a>
                <a href="{{ url_for('login') }}">Вход</a>
            {% else %}
                <p>{{username}}</p>
                <a href="{{ url_for('logout') }}">Выход</a>
                <a href="{{ url_for('post') }}">Новый пост</a>
            {% endif %}
        </div>
    </div>

    <ul>
        {% for user in all_users %}
            <li>
                <a href="/user/{{ user[0] }}" >{{ user[1] }}</a>
            </li>
        {% endfor %}
    </ul>

    <form action="/search_post">
        <input type="text" name="search_text" placeholder="Найти что нибудь">
        <button type="submit">Найти</button>
    </form>

    <ul>
        {% for post in all_posts %}
            <li>
                <h2>{{ post[1] }}</h2>
                <p>{{ post[2] }}</p>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
