body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

.gallery {
  display: flex;
  gap: 20px;
  perspective: 1000px;
}

.card {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s, filter 0.3s;
}

.card:hover {
  transform: rotateY(180deg) scale(1.1);
  z-index: 10;
}

.card:hover ~ .card {
  filter: brightness(0.7);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Центрирование текста */
}

.card__face--front {
  background-color: #fff;
}

.card__face--front img {
  width: 100%;
  height: auto;
  filter: sepia(20%);
}

.card__face--back {
  background-color: #fafafa;
  transform: rotateY(180deg);
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card__face--back {
  opacity: 1;
}

.product-title {
  font-size: 1.2em;
  margin-top: 10px; /* Отступ сверху */
}

.product-price {
  color: #888;
  margin-bottom: 10px; /* Отступ снизу */
}

.buy-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.buy-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
  filter:
}
