body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  .articles-container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  .article {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  



