* {
    padding: 0;
    margin: 0
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
  }
  
  .header {
    grid-column: 1 / span 3;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .tabs {
    grid-column: 1 / span 3;
    background-color: #777;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .sidebar {
    grid-column: 1;
    background-color: #ddd;
    padding: 20px;
  }
  
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / span 2;
  }
  
  .content {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .sub-content {
    background-color: #ccc;
    padding: 20px;
  }
  
  .footer {
    grid-column: 1 / span 3;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  