* {
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: gray;
}

.submenu {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  background-color: black;
  color: white;
  padding: 2em;
  transition: 0.3s ease;
  animation: anim 5s linear infinite;
}

.submenu a {
  text-decoration: none;
  color: white
}

.menu > li {
  position: relative;
}

.menu > li:hover {
  .submenu {
    opacity: 1;
  }
}

@media (max-width: 770px) {
  .menu {
    flex-direction: column;
  }

  .menu > li {
    width: fit-content;
  }

  .submenu {
    top: 0;
    left: 100%
  }
}

@keyframes anim {
  0% {
      border-radius: 50% 0 0 0;
    
  }

  25% {
      border-radius: 0 50% 0 0;
    
  }

  50% {
      border-radius: 0 0 50% 0;
    
  }

  75% {
      border-radius: 0 0 0 50%;

  }

  100% {
      border-radius: 50% 0 0 0;
  }
  
}