html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: black;
  color: rgb(255, 0, 0);
  font-size: 2em;
  font-weight: bold;

  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
}

header {
  min-height: 100vh;
  text-align: center;
  padding-top: 20%;
  transform-style: inherit;
  width: 100vw;
}

header::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  transform-origin: center;
  min-height: 100vh;
  background-image: url("marek-piwnicki-zV2zh23STCk-unsplash.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: 60s;
  z-index: -1;

  transform: translateZ(-1px) scale(2);
}