<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('signin') }}">Вход</a>
                </li>
                <li>
                    <a href="/signup">Регистрация</a>
                </li>
            </ul>
        </nav>
    </header>

    <ul>
        {% for user in users %}
            <li>
                <a href="/profile/{{user[0]}}">{{user[1]}}</a>
            </li>
        {% endfor %}
    </ul>

    <ul>
        {% if posts %}
            {% for post in posts %}
                <li>
                    <h3>{{ post[1] }}</h3>
                    <p>{{ post[2] }}</p>
                </li>
            {% endfor %}
        {% else %}
            <p>Постов пока нет</p>
        {% endif %}
    </ul>


</body>
</html>