#btn {
    padding: 12px;
    background-color: gray;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    text-decoration: none;
}

#btn:hover {
    background-color: rgb(77, 77, 77);
}


@media (max-width: 700px) {
    .mobile_none {
        display: none;
    }
}
