.container {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
}

.container_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2
}

header {
    position: fixed;
}