<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <h3>Заголовок</h3>
                <p>Контент</p>
                <div>
                    <a href="/approve">Разрешить</a>
                    <a href="/disaprove">Запретить</a>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>