<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<body>
    <div class="header">
        <h1>Главная</h1>
        <div>
            {% if username %}
                <h4>{{ username }}</h4>
            {% else %}
                <a href="{{ url_for('register') }}">Регистрация</a>
                <a href="{{ url_for('login') }}">Вход</a>
            {% endif %}
        </div>
    </div>


    <ul>

        {% for user in users %}
            <li>
                <a href="/user/{{user[0]}}">{{ user[1] }}</a>
            </li>
        {% endfor %}

    </ul>

    <form action="/search">
        <input type="text" name="q" placeholder="Найти что-то">
        <button type=submit>Поиск</button>
    </form>

    <ul>

        {% for post in posts %}
            <li>
                <h3>{{ post[1] }}</h3>
                <p>{{ post[2] }}</p>
            </li>
        {% endfor %}

    </ul>
    
</body>
</html>
