<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="">Главная</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock %}


    {% block js %}
    
    {% endblock %}
</body>
</html>