<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/calc">
        <input type="number" name="rub">
        <select name="exchange">
            <option value="$">$</option>
            <option value="R">R</option>
        </select>
        <button type="submit">Узнать</button>
    </form>

    <div class="result">
        {% if data.status %}
            Результат: {{data.result}}
        {% endif %}
    </div>
</body>
</html>