<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="head-first-line">
            <div class="head-logo">
                <img src="../static/media/Icon.svg" alt="PositivusLogo" class="icon">
                <h1 class="head-title">Positivus</h1>
            </div>
            <nav class="head-nav">
                <ul class="head-nav-ul">
                    <li><a href="#about">About us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#use-cases">Use Cases</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#blog">Blog</a></li>
                </ul>
                <button type="submit" class="button-request">Request a quote</button>
            </nav>
        </div>
        <div class="head-second-line">
            <div class="head-desc">
                <h2>Navigating the Digital Landscape for Success</h2>
                <p>Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.</p>
                <button type="button" class="button-book">Book a Consultation</button>
            </div>
            <div class="head-image">
                <img src="../static/media/Illustration.svg" alt="Digital Marketing Illustration" class="head-image-icon">
            </div>
        </div>
        <div class="head-third-line">
            <ul class="sponsors">
                <li><a href="#" class="sponsor-link"><img src="../static/media/amazon-logo.svg" alt="Amazon" class="sponsor-icon"></a></li>
                <li><a href="#" class="sponsor-link"><img src="../static/media/aribbble-logo.svg" alt="Dribbble" class="sponsor-icon"></a></li>
                <li><a href="#" class="sponsor-link"><img src="../static/media/hubspot-logo.svg" alt="HubSpot" class="sponsor-icon"></a></li>
                <li><a href="#" class="sponsor-link"><img src="../static/media/notion-logo.svg" alt="Notion" class="sponsor-icon"></a></li>
                <li><a href="#" class="sponsor-link"><img src="../static/media/netflex-logo.svg" alt="Netflix" class="sponsor-icon"></a></li>
                <li><a href="#" class="sponsor-link"><img src="../static/media/zoom-logo.svg" alt="Zoom" class="sponsor-icon"></a></li>
            </ul>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
    </footer>
</body>
</html>