* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 30px;
  height: 100%;
  background: rgb(100,149,221);
  background: linear-gradient(113deg, rgba(100,149,221,1) 0%, rgba(60,226,215,1) 100%);
}

.menu {
  display: flex;
  justify-content: center;
  border-bottom: 10px solid black;
  background-color: #fff;
  width: 100%;
}

.menu_list {
  display: flex;
  list-style: none; 
}

.menu_item {
  position: relative;
  padding: 0 1em;
}

.menu_item a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  display: none;
  border-top: 10px solid red;
}

.submenu li {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: aqua;
  transition: 0.15s ease-in-out;
}

.submenu li:hover {
  transform: scale(1.05);
}

.submenu li a {
  font-size: 25px;

}

.menu_item:hover .submenu {
  display: block;
}
