* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: rgb(100,149,221);
    background: linear-gradient(113deg, rgba(100,149,221,1) 0%, rgba(226,60,133,1) 100%);
}


.section { 
    background-color: rgba(255, 255, 255, 0.259);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#about-me {
    background-color: rgba(0, 0, 0, 0.259);
    color: white
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

#skills li {
    color: green
}

.section-content {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
