* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #F8E8E8;
  font-family: "Anonymous Pro", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;

}

aside {
  background-color: #EFC9C9;
  margin: 10px;
  padding: 15px;
}

aside a {
  color:#9A7272;
  text-decoration: none;
  font-size: 32px;
}

aside ul {
  list-style-type: none;
  margin-bottom: 2em;
}

.header {
  font-size: 32px;
  color: #C37070;
}

#chats_frame {
  background-color: #F4E2E2;
  padding: 15px;
}

.chat {
  background-color: #E4B9B9;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 1em 2em;
}

.chat img {
  border-radius: 97.5px;
}

#main {
  flex-grow: 1;
}


aside li:hover{
  background-color: aliceblue;
  .btn {
    background-color: #9A7272;
  }
}
