.product-card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    border-radius: 10px solid black;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: 0.8s ease-in-out;
    transform-style: preserve-3d;
}

.product-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.394);
    width: 100%;
    height: 100%;
    border-radius: 8px
}

.card-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        border: 0;
        padding: 1em 2em;
        background-color: gray;
    }
}