html, body {
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px repeat(2, 1fr) 50px;
    grid-gap: 10px
}

.item {
    padding: 20px;
    background-color: gray;
    text-align: center;
}

.nested_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border: 1px solid red;
    padding: 5px;
}

.nested_item {
    padding: 5px;
    background-color: rgb(79, 79, 79);
}