* {
    padding: 0;
    margin: 0;
  }

.nav {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  background-color: gray;
  margin: 1em;
  padding: 0.2em;
  border-radius: 15px;
}

.nav > li > a {
  text-decoration: none;
  color: white
}

.nav > li {
  transition: 0.3s ease;
  position: relative;
}

.nav > li:hover .submenu{
    opacity: 1;
}

.submenu {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: gray;
  list-style: none;
  transition: 0.5s ease-in-out;
}

.submenu li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.submenu li a:hover {
  background-color: #004494;
}


@media (max-width: 770px) {
  .nav {
    flex-direction: column;
  }

  .nav > li {
    width: fit-content;
  }

  .submenu {
    top: 0;
    left: 100%;
  }
}
