html, body {
    background-color: grey;
    color: black;
}

.grid-container  {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-gap: 10px;
}

.item {
    border: 1px solid black;
}


.nested-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.nested-item {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}