* {
    margin: 0;
    padding: 0;
}

html, body {
  background-color: gray;
  height: 100%;
  font-size: 25px;
}


.menu {
  display: flex;
  justify-content: center;
  background: #fff;
  width: fit-content;
}

.menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  position: relative;
  padding: 0 1em;
}

.menu-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 0.75em 1.5em;
}

.submenu {
  left: 100%;
  top: 0;
  position: absolute;
  padding-left: 100px;
  display: none;
}

.submenu_list {
  background-color: aqua;
  list-style-type: none;
}

.menu-item:hover {
  background-color: bisque;
}

.menu-item:hover .submenu {
  display: block;
}


