* {
    margin: 0;
    padding: 0;
}

html, body {
  background-color: gray;
  height: 100%;
}


.container {
  color: white;
  background-color: black;
  display: flex;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.item {
  border: 1px solid white;
  border-radius: 10px;
  padding: 2px 10px;
  transition: 0.5s;
}

.item:hover {
  background-color: white;
  color: black;
  transform: scale(1.15);
}
