<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить пост</title>
</head>

<body>

    <main>

        <section>
            <div>
                <h3 class="current_name">{{user[1]}}</h3>
                <p class="current_email">{{user[2]}}</p>
            </div>

            <div>
                <div>
                    <label for="login">Логин</label>
                    <input type="text" id="login" name="login">
                    <button id="login_change" user_id="{{user[0]}}">Изменить</button>
                </div>
                <div>
                    <label for="email">Почта</label>
                    <input type="email" id="email" name="email">
                    <button id="email_change" user_id="{{user[0]}}">Изменить</button>
                </div>
                <div>
                    <label for="password">Пароль</label>
                    <input type="passwword" id="password" name="password">
                    <button id="password_change" user_id="{{user[0]}}">Изменить</button>
                </div>
            </div>
        </section>

        <section>
            <h1>Добавить новый пост</h1>
            <a href="{{ url_for('admin') }}">Панель админа</a>
            <form action="/add_post" method="POST">
                <label for="title">Заголовок:</label><br>
                <input type="text" id="title" name="title" required><br>

                <label for="content">Содержимое:</label><br>
                <textarea id="content" name="content" required></textarea><br>

                <input type="submit" value="Добавить пост">
            </form>

            <ul>
                {% for post in posts %}
                <li>
                    <h2>{{ post[1] }}</h2>
                    <p>{{ post[2] }}</p>
                </li>
                {% endfor %}
            </ul>
        </section>

    </main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/js/ajax.js"></script>
</body>

</html>