<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <h2>{{ data.title }}</h2>
    <p>{{ data.content }}</p>
    <img src="{{data.image}}" alt="">

    <form action="" method="POST">
        <input type="text" placeholder="Текст..." name="login">
        <input type="password" placeholder="Пароль" name="password">
        <button type="submit">Отправить</button>
    </form>

</body>

</html>