/* body {
    background-color: gray;
}

h1 {
    color: red;
    background-color: black;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 120px;
    letter-spacing: 10px;
    word-spacing: 50px;
    text-shadow: 0px 1px 10px rgba(255, 255, 255, 0.309);
} */

div {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 50px;
    border: 10px solid red;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    text-align: center;
}