body {
    text-align: center;
    background-color: rgb(35, 35, 35);
    color: white
}

.container {
    display: flex;
}

.item1 {
    /* flex-grow: 2; */
    /* flex-shrink: 3; */
    /* flex-basis: 100px; */
    flex: 2 3 100px;
    background: red;
}
.item2 {
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    /* flex-basis: 150px; */
    flex: 1 0 150px;
    background: green;
}
.item3 {
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    /* flex-basis: 200px; */
    flex: 1 2 200px;
    background: red;
}
  